language: python
sudo: false
python:
    - 2.6
    - 2.7
    - 3.2
    - 3.3
    - 3.4
    - pypy
    - pypy3
install:
    - pip install nose
script:
    - nosetests --doctest-tests
notifications:
    email: false
cache:
  pip: true
  directories:
    - eggs/
