language: python
python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7
    - 3.8
    - 3.9
    - pypy
    - pypy3
jobs:
    include:
        - python: "3.7"
          env: PURE_PYTHON=1
        - python: "2.7"
          env: PURE_PYTHON=1
install:
    - pip install -U pip setuptools
    - pip install -U coverage coveralls
    - pip install -U -e .[test]
script:
    - coverage run -m zope.testrunner --test-path=src
after_success:
    - coveralls
notifications:
    email: false
cache: pip
