include *.txt
include *.rst
include .coveragerc
include buildout.cfg
include tox.ini

include bootstrap.py
exclude bootstrap.py

include *.yml
exclude *.yml

recursive-include src *
exclude src/coverage.xml

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
